@font-face {
    font-family: 'open_regular';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans-regular.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;


}


@font-face {
    font-family: 'open_bold';
    src: url('../fonts/opensans-bold.eot');
    src: url('../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold.woff') format('woff'),
         url('../fonts/opensans-bold.ttf') format('truetype'),
         url('../fonts/opensans-bold.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_semibold';
    src: url('../fonts/opensans-semibold.eot');
    src: url('../fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold.woff') format('woff'),
         url('../fonts/opensans-semibold.ttf') format('truetype'),
         url('../fonts/opensans-semibold.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'satellite';
    src: url('../fonts/satellite.eot');
    src: url('../fonts/satellite.eot?#iefix') format('embedded-opentype'),
         url('../fonts/satellite.woff') format('woff'),
         url('../fonts/satellite.ttf') format('truetype'),
         url('../fonts/satellite.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




.wrapper{
	width: 1200px;
	height: auto;
	margin: 0 auto;
}

.wrapper_billboard{
    width: 1400px;
    height: auto;
    margin: 0 auto;
}

footer .paragraph ul.sm li a,
header nav ul li a,
footer a:hover{
	transition:all .2s linear;
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-o-transition:all .2s linear;
}


.hidden{
    display: none;
}



header.trasparent_nav{
	width: 100%;
    height: 100px;
    background-color: rgba(210, 87, 50, 5);
    border-bottom: 1px rgba(255, 255, 255, .3) solid;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 9999;
}


header.trasparent_nav,
header.fixed_nav{
    float: left;
    margin-top: 10px;
}

header.fixed_nav{
    margin-top: 0px;
}

header.trasparent_nav nav,
header.fixed_nav nav{
    text-align: center;
    margin-top: 40px;
}

header.fixed_nav nav{
    margin-top: 32px;
}

header.trasparent_nav nav ul,
header.fixed_nav nav ul{
    list-style: none;
}

header.trasparent_nav nav ul li,
header.fixed_nav nav ul li{
    float: left;
    margin-left: 50px;
}

header.trasparent_nav nav ul li:first-child,
header.fixed_nav nav ul li:first-child{
    margin-left: 0;
}

header.trasparent_nav nav ul li a{
    text-decoration: none;
    font-family: 'open_regular', arial;
    font-size: 24px;
    font-weight: bold;
}

header.fixed_nav nav ul li a{
    text-decoration: none;
    color: #454545;
    font-family: 'open_regular', arial;
    font-size: 24px;
    color: #cda632;
    font-weight: bold;  
}

header.trasparent_nav nav ul li a:hover{
    color: #cda632;
}

header.fixed_nav nav ul li a:hover{
    color: red; 
}

header.fixed_nav nav ul li a{
    font-size: 18px;
}


header.fixed_nav{
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    border-bottom: 1px solid #f1f1f1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    margin-top: -81px;
}




.billboard{
    height: 750px;
    overflow: hidden;
    position: relative;
}

.services,.about_us{
    background: #fbfbfb;
}

.services h2{
    color: red;
    font-family: 'open_semibold', arial;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.services ul{
    list-style: none;
    margin-left: 80px;
    overflow: hidden;
    padding: 20px;
    margin: 0 auto;
    text-align: center;}

.services ul li{
    text-align: center;
    display: block;
    width: 800px;
    height: auto;
    margin-left: 80px;
}

.services ul li:first-child{
    margin: 0 auto;
}

.services ul li h3{
    color: brown;
    font-family: 'open_bold', arial;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.services ul li p{
    color: #746969;
    font-family: 'open_regular', arial;
    font-size: 20px;
    line-height: 22px;
}




.about_us{
    height: auto;
    padding-bottom: 100px;
}

.about_us h3{
    color: #616161;
    font-family: 'open_bold', arial;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.about_us ul.text_boxs{
    list-style: none;
    overflow: hidden;
    margin-top: 80px;
}

.about_us ul.text_boxs li{
    float: left;
    display: block;
    width: 293px;
    height: auto;
    margin-left: 80px;
}

.about_us ul.text_boxs h2{
    color: #616161;
    font-family: 'open_bold', arial;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: .5px;

}

.about_us ul.text_boxs h2 span{
    color: #756a6a;
    font-family: 'open_regular', arial;
    font-weight: normal;
    font-size: 12px;
}

.about_us ul.text_boxs p{
    color: #747474;
    font-family: 'open_regular', arial;
    font-size: 14px;
    line-height: 22px;
    margin-top: 20px;
}

.blank{
    width: 100%;
    height: 120px;
    background: #f2f1f1;
}

footer{
    width: 100%;
    height: 500px;
    overflow: hidden;
    padding-bottom: 20px;
    background: #dc7336;
    
}

footer .cta_footer{
    background-color: #434343;
}

footer .cta_footer p{
    color: #ffffff;
}

footer .cta_footer a{
    background: #cda632;
    color: #fff;
}

footer .footer_widget{
    overflow: hidden;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px #b90e0e solid;
}

footer .paragraph{
    display: block;
    width: 270px;
    height: auto;
    float: left;
    margin:100px 40px 0 0;
}

footer .paragraph:last-child{
    margin-right: 0;
}

footer .paragraph h3{
    color: #fff;
    font-family: 'open_regular', arial;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 40px;
    letter-spacing: 1px;

}

footer .paragraph p{
    font-family: 'open_regular', arial;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1px;
    color: #ffffff;
    margin-bottom: 20px;
}

footer .paragraph span.phone{
    display: block;
    font-family: 'open_bold', arial;
    font-weight: bold;
    color: #ffffff;
}

footer .paragraph ul.sm{
    list-style: none;
    overflow: hidden;
}

footer .paragraph ul.sm li{
    float: left;
    margin-left: 10px;
}

footer .paragraph ul.sm li:first-child{
    margin-left: 0;
}

footer .paragraph ul.sm li a{
    display: block;
    width: 25px;
    height: 25px;
}

footer .paragraph a{
    display: inline-block;
    font-family: 'open_regular', arial;
    color: #ffffff;
}

footer .paragraph a:hover{
    color: #ffffff;
}

footer .paragraph ul li{
    list-style: none;
    margin-bottom: 15px;
}

footer .paragraph ul li a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'open_regular', arial;
    font-size: 14px;
}

footer .paragraph ul li a:hover{
    color: #e61c42;
}


p.rights{
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'open_regular', arial;
    font-size: 13px;
    letter-spacing: 1px;
}

p.rights a{
    font-family: 'open_bold', arial;
    font-weight: bold;
}
